body{
    background-color: rgb(241, 238, 234);
}

nav{
    background-color: rgb(143, 24, 24);
    height: 80px;
    width: 100%
}

label.name{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}
label.name{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}