body {
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: rgb(143, 24, 24);
    padding: 1em 0;
}
header a {
    color: white;
    text-decoration: none;
}
a.logo {
    font-weight: bold;
}

nav {
    float: right;
}
nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}
nav ul li a {
    padding: 1em;
}
nav a:hover {
    background-color:  rgb(109, 17, 17);
}
